@page "/portfolio"

@using PortfolioVisualizer.Data

@inject PortfolioManagerService PortfolioManager;
@inject StockTickListenerService StockTickListener;

<h1>Portfolio</h1>

@if (PortfolioManager.Holdings.Count == 0)
{
	<p><em>Loading...</em></p>
}
else
{
	<table>
		<tbody>
			<tr>
				<th>
					P&L :  
				</th>
				<td colspan="3" style="@Getstyle(PortfolioManager.PL)">
					@PortfolioManager.PL
				</td>
			</tr>
			
		</tbody>
	</table>
	<table class="table">
		<thead>
			<tr>
				<th>Stock</th>
				<th>Average Price</th>
				<th>Quantity</th>
				<th>Gain</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var holding in PortfolioManager.Holdings)
			{
				<tr>
					<td>@holding.Ticker</td>
					<td>@holding.AveragePrice</td>
					<td>@holding.TotalUnits</td>
					<td style="@Getstyle(holding.Gain)">@holding.Gain</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {

	string Getstyle(int gain)
	{
		if (gain < 0)
			return "color:white;background-color:red;";
		else if (gain > 0)
			return "color:white;background-color:green;";
		return "color:black;background-color:white;";
	}

	private void OnStockTickReceived(StockData data)
	{
		PortfolioManager.OnStockTickReceived(data);
		StateHasChanged();
	}

    protected async override void OnInitialized()
    {
        StockTickListener.StockTickReceived += OnStockTickReceived;
        await StockTickListener.Listen();
    }
}
